@model MovieStoreMVC.Models.Domain.Movie
@{

}
<div class="movie-detail w-80 m-auto">
    <div class="img-container">
        <img alt="image" src="/Uploads/@Model.MovieImage" />
    </div>
    <div class="detail-container">
        <h3>@Model.Title</h3>
        <h3>@Model.GenreNames</h3>
        <h3>@Model.ReleaseYear</h3>
        <h3>Cast: @Model.Cast</h3>
        <h3>Director: @Model.Director</h3>
    </div>
</div>
<div class="w-80 m-auto">
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>
